* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfbff;
}

.pagina {
    display: flex;
    justify-content: center;
}

.pagina::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../imagens/login.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(40%) blur(0.5vh);
    z-index: 0;
}

form {
    background-color: white;
    max-width: 500px;
    margin: 64px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4a90e2;
    outline: none;
}

h2 {
    color: #000;
    margin: auto;
    margin-bottom: 32px;
    text-align: center;
}

h3 {
    margin-top: 20px;
    color: #4a90e2;
    text-align: center;
    margin: 10px;
}

button {
    display: flex;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    margin: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357abd;
}

.classe-tab {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #fafafa;
    text-align: center;
}

.botoes-classes {
    display: flex;
    width: 450px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.race-tab {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #fafafa;
    text-align: center;
}

.botoes-race {
    display: flex;
    width: 450px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}


input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 40px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #357abd;
}